@font-face {
    font-family: Gilroy;
    src: url("fonts/Gilroy-Regular.ttf");
}

*
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0B1D03;    
    display: flex;
    align-items: center;
}

body h1{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 88px;
    color: #1F1F1F;
}

body h2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    color: #1F1F1F;    
}

body h3 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #1F1F1F;    
}

body {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #1F1F1F;    
    letter-spacing: 0.04em;
    background: #FFFCF6;
}

aside {
    background: white;
}

.inicial {
    height: 900px;
    width: 1600px;
    background: url(../img/image1.png);
}

.whitetext {
    color: white;
    font-weight: normal;
}

.card {
    background: #F7F1E6;
    border-radius: 8px;
    width: 459px;
    height: 560px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    display: inline-block;
}

.bg1 {
    background-image: url(../img/Rectangle20.png);
    background-repeat: no-repeat;
    width: 704px;
    height: 560px;
}

.bg2 {
    background-image: url(../img/Rectangle21.png);
    background-repeat: no-repeat;
    width: 704px;
    height: 560px;
}